/*global rules for all sizes*/

body{
    margin: 0;
    padding: 0;
}

header a.logo{
    display: block;
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat;
}

nav{
    width: 100%;
    display: block;
    position: absolute;
    background-color: #a6430a;
}

/*large screens (default rules for older browsers)*/

header{
    height: 275px;
    background: url('../images/banner_large.jpg') no-repeat right 0px;
    /*x position, y position*/
}

header a.logo{
    width: 150px;
    height: 85px;
    top: 28px;
    right: 30px;
    background-image: url('../images/logo_large.png');
}

article{
    padding: 60px 20px 10px 20px;
    
}

.promo_containter{
    padding: 0 0 15px 20px;
}

.promo_containter .promo{
    width: 33%;
    float: left;
    background-position: 0 3px;
}

.promo_containter .promo .content{
    padding: 0px 30px 0 70px;
}

nav{
    top: 274px;
    
}

nav a{
    margin: 12px 0 10px 20px;
}

@media screen and (max-width: 990px){
    footer{
        padding-left: 20px;
    }
}

